@page "/"

<PageTitle>Proyecto Final</PageTitle>

<h1 style="Margin: 60px; text-shadow: 1px 2px rgba(0, 0, 0, 0.5); text-align: center; color:black">P&aacute;gina principal</h1>
<h3 style="Margin:20px; text-shadow: 1px 2px rgba(0, 0, 0, 0.5); text-align: center; color:black">Proyecto Final</h3>
<h5 style=" text-shadow: 1px 2px rgba(0, 0, 0, 0.5); text-align: center; color:black">Entregado por Samuel Dur&aacute;n a Enel Almonte</h5>