@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<PageTitle>Proyecto Final</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="❌"
                InfoIcon="❕"
                SuccessIcon="✔️"
                ShowProgressBar="@true"
                ShowCloseButton="@true">
</BlazoredToasts>
