.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #fffffff1;
    display: flex;
    flex-direction: row;
    z-index: 2;
    margin-top: 0px;
    transition: 0.5s;
    position: fixed;
    box-shadow: 0px 5px 20px #000000a4;
}

.top-row {
    background-color: #00000000;
    border-bottom: 0px solid #00000000;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a,
.top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.75rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: block;
    }
    .top-row.auth {
        justify-content: space-between;
    }
    .top-row a,
    .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: column;
    }
    .sidebar {
        justify-content: space-between;
        height: 70px;
        width: 100%;
        position: fixed;
    }
    .top-row {
        position: sticky;
        z-index: 1;
    }
    .top-row,
    article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}